body{
    background-color: lightblue;
    margin: 200px;
}

#a1{
    display: grid;
    height: 300px;
    width: 400px;
    background-color:seagreen;
    animation-name: shape-grow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes shape-grow {
    0%
    {height: 300px;}
    25%
    {height: 400px;}
}

#a2{
    display: grid;
    height: 300px;
    width: 400px;
    background-color: darkblue;
    animation-name: shape-shrink;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    margin-top: 20px;
}


@keyframes shape-shrink{
    0%
    {height: 300px;}
    25%
    {height: 150px;}
}