body{
    margin: 200px;
    background-color: gray;
}

#japan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 400px;
    background-color: white;
}

#japan-red {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 50%;
}

#italy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 400px;
}

#italy-green {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#italy-white {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/4;
}

#italy-red {
    background-color: red;
    grid-column: 3/4 ;
    grid-row: 1/4;
}

#germany {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 400px;
}

#germany-black {
    background-color: black;
    grid-column:1/4 ;
    grid-row: 1/2;
}

#germany-red {
    background-color: red;
    grid-column: 1/4;
    grid-row: 2/3;
}

#germany-yellow {
    background-color: yellow;
    grid-column: 1/4;
    grid-row: 3/4;
}

#belgium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 400px;
    border: solid 2px blue;
}

#belgium-black {
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/4;
}

#belgium-red {
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/4;
}

#belgium-yellow {
    background-color: yellow;
    grid-column: 3/4;
    grid-row: 1/4;
}

#thailand {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 300px;
    width: 400px;
}

#thailand-red1 {
    background-color: red;
    grid-column: 1/4;
    grid-row: 1/2;
}

#thailand-white1 {
    background-color: white;
    grid-column: 1/4;
    grid-row: 2/3;
}

#thailand-blue {
    background-color: blue;
    grid-column: 1/4;
    grid-row: 3/5;
}

#thailand-white2 {
    background-color: white;
    grid-column: 1/4;
    grid-row: 5/6;
}

#thailand-red2 {
    background-color: red;
    grid-column: 1/4;
    grid-row: 6/7;
}

#swiss{
display: grid;
grid-template-columns: repeat();
grid-template-rows: repeat(6, 1fr);
height: 300px;
width: 400px;

}

#swiss-red1{

}

#swiss-red2t{

}

#swiss-white1{

}

#swiss-red2b{

}

#swiss-red3t{

}

#swiss-white2{

}

#swiss-red3b{

}

#swiss-red4t {

}

#swiss-white3 {


}

#swiss-red4b {

}

#swiss-red5 {

}
